.multi-article{
    padding-left: 280px;
    padding-right: 20px;
    header{
        font-size: 24px;
        font-weight: 400;
        height: 70px;
        line-height: 70px;
    }
    
}
body{
    // background-color: #ddd;
}
@media screen and(max-width: 767px) {
    .multi-article{
        padding-left: 20px;
    }
  }